
.cuadroCursoEspecializado {
    background-color: #1e293b; /* Fondo azul oscuro */
    border-radius: 20px;
}
.CuadroEducacion {
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 20px;
}
.espacio {
    margin-left: -7vw; /* Espacio entre los cuadros */
    margin-right: -7vw; /* Espacio entre los cuadros */
}

