<footer>
    <div class="footerComponent">   
        <div class="row ">
            <div class="col-10 align-items-center">
                <div class="row">   
                    <div class="col">
                        <p>Portafolio Herman José García Pacheco celular +57 3138369492</p>
                    </div>
                </div>   
                <div class="row">   
                    <div class="col">
                        <p>correo hermanjosegarciapacheco@gmail.com</p>     
                    </div>
                </div>   
                
            </div>
            <div class="col-1 align-items-center">
                <p>footer secundario</p>
            </div>    
            
            <div class="col-1 align-items-center">
                <p>footer secundario</p>
            </div>    
        </div>
        <div class="row">
            <div class="col-12">
            </div>    
        </div>
    </div>
</footer>