<footer>
    <div class="footerComponent">
        <div class="">
            <div class="row">
                <div class=" text-center center">
                    <div class="text-on-surface dark:text-on-tertiary-fixed font-label-caps text-label-caps">
                        <p>HG Pacheco</p>
                    </div>
                </div>

                <div class="text-on-surface dark:text-on-tertiary-fixed font-label-caps text-label-caps">
                    <div
                        class="row text-center flex gap-stack-sm font-label-caps text-label-caps text-on-surface-variant dark:text-on-tertiary-fixed-variant">
                        <div class="col-12 text-center">
                            <p>correo hermanjosegarciapacheco@gmail.com</p>
                            <div class="row text-center flex">
                                <div class="col-4">
                                    <p>© 2026 Portafolio Herman José García Pacheco. Systems Engineer &amp; Architect Software.</p>
                                </div>
                                <div class="col-2">
                                    <a class="hover:text-secondary dark:hover:text-secondary-fixed-dim underline transition-all duration-300"
                                        href="mailto:hermanjosegarciapacheco@gmail.com">Email</a>
                                </div>
                                <div class="col-2">
                                    <a class="hover:text-secondary dark:hover:text-secondary-fixed-dim underline transition-all duration-300 flex items-center gap-1"
                                        href="documentacion/HojaVida.pdf" download>
                                        <span class="material-symbols-outlined text-[14px]">download CV</span>
                                    </a>
                                </div>
                                <div class="col-4">
                                    <!--Botones de contacto en el footer-->
                                    <a matButton extended class="botonFooter"
                                        href="https://www.facebook.com/josele2015develop/" target="_blank"
                                        rel="noopener noreferrer" aria-label="Contactar por facebook">
                                        <mat-icon svgIcon="facebook"></mat-icon>
                                    </a>
                                    <a matButton extended class="botonFooter"
                                        href="https://www.instagram.com/josele2015develop/" target="_blank"
                                        rel="noopener noreferrer" aria-label="Contactar por Instagram">
                                        <mat-icon svgIcon="instagram"></mat-icon>
                                    </a>
                                    <a matButton extended class="botonFooter"
                                        href="https://www.linkedin.com/in/herman-jose-garcia-pacheco-1882944a/"
                                        target="_blank" rel="noopener noreferrer" aria-label="Contactar por Linkedin">
                                        <mat-icon svgIcon="linkedin"></mat-icon>
                                    </a>
                                    <a matButton extended class="botonFooter" href="https://github.com/newJosele2026"
                                        target="_blank" rel="noopener noreferrer"
                                        aria-label="Visita mi GitHub newJosele2026">
                                        <mat-icon svgIcon="github"></mat-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>