<footer
                class="bg-surface-container-low dark:bg-tertiary-container border-t border-outline-variant dark:border-on-tertiary-fixed-variant full-width py-stack-md">    <div class="footerComponent">
        <div class="row ">
            <div class="col-10 align-items-center">

                <div class="row">
                    <div class="col">
                        <div
                            class="flex flex-col md:flex-row justify-between items-center px-gutter max-w-container-max mx-auto gap-stack-sm">
                            <div
                                class="font-headline-lg-mobile text-headline-lg-mobile text-primary dark:text-primary-fixed">
                                HG Pacheco
                            </div>
                            <div class="text-on-surface dark:text-on-tertiary-fixed font-label-caps text-label-caps">
                                <p>© 2024 Portafolio Herman José García Pacheco. Systems Engineer &amp; Architect.</p>
                            </div>
                            <div
                                class="flex gap-stack-sm font-label-caps text-label-caps text-on-surface-variant dark:text-on-tertiary-fixed-variant">
                                <a class="hover:text-secondary dark:hover:text-secondary-fixed-dim underline transition-all duration-300"
                                    href="#">LinkedIn</a>
                                <a class="hover:text-secondary dark:hover:text-secondary-fixed-dim underline transition-all duration-300"
                                    href="#">GitHub</a>
                                <a class="hover:text-secondary dark:hover:text-secondary-fixed-dim underline transition-all duration-300"
                                    href="#">Email</a>
                                <a class="hover:text-secondary dark:hover:text-secondary-fixed-dim underline transition-all duration-300 flex items-center gap-1"
                                    href="#">
                                    <span class="material-symbols-outlined text-[14px]">download</span>
                                    Download CV
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>correo hermanjosegarciapacheco@gmail.com</p>
                    </div>
                </div>

            </div>
            <div class="col-1 align-items-center">
                <p>footer secundario</p>
            </div>

            <div class="col-1 align-items-center">
                <p>footer secundario</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </div>
</footer>