<div class="header">   
    <div class="row">
        <div class="col-10 align-items-center">
            <button id="btn" matButton extended routerLink=".">Portafolio Herman José García Pacheco
            </button>
        </div>
        <div class="col-1 align-items-center">
        </div>
        <div class="col-1 align-items-center">
            <button id="btn-contacto" matButton extended routerLink="/contacto">Contactame
                <mat-icon>faces</mat-icon>
            </button>
        </div>    
    </div>
</div>
